<!-- Footer -->
<div class="w-screen h-[200px] flex md:px-[130px] px-[30px] justify-between bg-[#F5FCFF] items-center">
    <div>
        <span class="font-mono">Ali Najafian</span>
    </div>
    <div class="hidden md:flex flex-row justify-between">
        <a href="" class="mx-4">
            Home
        </a>
        <a href="" class="mx-4">
            Portfolio
        </a>
        <a href="" class="mx-4">
            About me
        </a>
    </div>
    <div class="flex flex-row h-[20px] md:h-[30px]">
        <a href=""><img src="assets/Facebook.png" alt=""></a>
        <a href=""><img src="assets/Instagram.png" alt=""></a>
        <a href=""><img src="assets/Twitter.png" alt=""></a>
        <a href=""><img src="assets/Linkedin.png" alt=""></a>
    </div>
</div>
<!-- Footer -->