<!-- Navbar -->
<!-- Responsive Done -->
<div class="bg-[#FFFFFF] flex justify-between w-screen px-4 md:px-32 py-5 shadow items-baseline">
    <div>
        <span class="font-mono">Ali Najafian</span>
    </div>
    <div class="hidden md:block">
        <a class="mx-4" href="">Home</a>
        <a class="mx-4" href="">Portfolio</a>
        <a class="mx-4" href="">About me</a>
    </div>
    <div>
        <button class="border-solid p-2 border rounded border-[#5E3BEE]">
            Contact me
        </button>
    </div>
</div>
<!-- Navbar -->

