<!-- Hero section -->
<!-- Responsive Done -->
<div
    class="bg-[#F5FCFF] px-4 md:py-[133px] md:px-[85.33px] flex flex-col-reverse md:flex-row md:justify-between md:items-start">
    <div class="h-max my-4 md:my-[200px]">
        <span>Im Ali najafian</span>
        <h1 class="font-bold text-3xl">
            I am a <span class="text-[#5E3BEE]">Junior Web Developer</span> Trying my best!
        </h1>
        <p>Born in March 19th 2002 living in Iran, Hamedan open to work and/or contracts </p>
        <button class="mt-10 p-3 border bg-[#5E3BEE] text-white">
            Get in touch
        </button>
    </div>
    <div class="bg-transparent">
        <img class="" src="assets/Hero.png" alt="">
    </div>
</div>
<!-- Hero section -->


<!-- Skills -->
<!-- Responsive -->
<div class="md:px-[85.33px] py-[50px] md:py-[149.33px] bg-[#FFFFFF] flex flex-col">
    <div>
        <h2 class="font-bold ps-2 text-3xl">My Skills</h2>
    </div>
    <div class="flex justify-center flex-col md:flex-row md:justify-between md:px-[85.33px] mt-[20px]">
        <div class="bg-[#F5FCFF] md:w-[405.33px] h-[370.33px] me-[42px] p-5 mt-5 w-screen">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] md:w-[405.33px] h-[370.33px] me-[42px] p-5 mt-5 w-screen">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] md:w-[405.33px] h-[370.33px] me-[42px] p-5 mt-5 w-screen">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] md:w-[405.33px] h-[370.33px] me-[42px] p-5 mt-5 w-screen">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
    </div>
</div>
<!-- Skills -->



<!-- About me -->
<!-- Responsive -->
<div class="md:py-[133px] md:px-[85.33px] flex justify-center md:flex-row md:justify-between md:items-center flex-col">
    <div class="md:w-1/2 mx-[30px]">
        <img src="assets/About.png" alt="">
    </div>
    <div class="md:w-1/2 md:ps-10 px-[20px]">
        About
        <h2 class="text-2xl font-bold">About me</h2>
        <p class="text-xl mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa
            sollicitudin amet augue. Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis.
            Nibh
            scelerisque ac adipiscing velit non nulla in amet pellentesque.
        </p>
        <p class="mt-10 text-xl">Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo
            vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.</p>
    </div>
</div>
<!-- About me -->

<!-- Recent projects -->
<!-- Responsive -->
<div class="md:py-[133px] py-[50px] md:px-[85.33px] flex flex-col">
    <div class="flex justify-between px-[20px]">
        <div>
            <h3 class="md:text-3xl font-bold">
                Recent projects
            </h3>
        </div>
        <div>
            <a href="https://github.com/goofySunny" target="_blank">
                <button class="flex bg-[#E62872] p-2 rounded-lg">
                    <img src="assets/github-mark.svg" class="object-scale-down h-[30px] me-2" alt="">
                    <span>Visit my Github</span>
                </button>
            </a>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-between mt-10 md:px-[200px]">
        <div class="border rounded mx-5 mt-10 flex flex-col md:w-1/4 shadow-2xl relative"
            *ngFor="let project of projects">
            <div>
                <img src="{{ project.projectPicture }}" alt="">
            </div>
            <div class="p-4">
                <h4 class="text-2xl font-bold">{{ project.projectName }}</h4>
                <p class="my-5 line-clamp-4">{{ project.projectDescription }}</p>
                <div class="absolute bottom-1 left-1">
                    <span class="underline p-3"><a href="{{ project.projectGithub }}" target="_blank">View
                            Repository</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Recent projects -->

<!-- Footer -->
<div class="w-screen h-[200px] flex md:px-[130px] px-[30px] justify-between bg-[#F5FCFF] items-center">
    <div>
        <span class="font-mono">Ali Najafian</span>
    </div>
    <div class="hidden md:flex flex-row justify-between">
        <a href="" class="mx-4">
            Home
        </a>
        <a href="" class="mx-4">
            Portfolio
        </a>
        <a href="" class="mx-4">
            About me
        </a>
    </div>
    <div class="flex flex-row h-[20px] md:h-[30px]">
        <img src="assets/Facebook.png" alt="">
        <img src="assets/Instagram.png" alt="">
        <img src="assets/Twitter.png" alt="">
        <img src="assets/Linkedin.png" alt="">
    </div>
</div>
<!-- Footer -->