<!-- Navbar -->
<div class="bg-[#FFFFFF] flex justify-between w-screen px-4 md:px-32 py-5 shadow items-baseline">
    <div>
        <span class="font-mono">Ali Najafian</span>
    </div>
    <div class="hidden md:block">
        <a class="mx-4" href="">Home</a>
        <a class="mx-4" href="">Portfolio</a>
        <a class="mx-4" href="">About me</a>
    </div>
    <div>
        <button class="border-solid p-2 border rounded border-[#5E3BEE]">
            Contact me
        </button>
    </div>
</div>
<!-- Navbar -->



<!-- Hero section -->
<div class="bg-[#F5FCFF] px-4 md:py-[133px] md:px-[85.33px] flex flex-col-reverse md:justify-between md:items-start">
    <div class="h-max my-4 md:my-[200px]">
        <span>Im Ali najafian</span>
        <h1 class="font-bold text-3xl">
            I am a <span class="text-[#5E3BEE]">Junior Web Developer</span> Trying my best!
        </h1>
        <p>Born in March 19th 2002 living in Iran, Hamedan open to work and/or contracts </p>
        <button class="mt-10 p-3 border bg-[#5E3BEE] text-white">
            Get in touch
        </button>
    </div>
    <div class="bg-transparent">
          <img class="" src="assets/Hero.png" alt="">
    </div>
</div>
<!-- Hero section -->


<!-- Skills -->
<div class="px-[85.33px] py-[149.33px] bg-[#FFFFFF] flex flex-col">
    <div>
        <h2 class="font-bold text-3xl">My Skills</h2>
    </div>
    <div class="flex flex-row justify-between px-[85.33px]">
        <div class="bg-[#F5FCFF] w-[405.33px] h-[370.33px] me-[42px] p-5">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] w-[405.33px] h-[370.33px] me-[42px] p-5">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] w-[405.33px] h-[370.33px] me-[42px] p-5">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
        <div class="bg-[#F5FCFF] w-[405.33px] h-[370.33px] me-[42px] p-5">
            <div class="w-[80px] h-[80px] bg-white">
                <img src="assets/Skill.png" alt="">
            </div>
            <div class="mt-5">
                <h3 class="text-2xl font-bold">Strategy and Direction</h3>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                    elementum tristique.</p>
            </div>
        </div>
    </div>
</div>
<!-- Skills -->



<!-- About me -->
<div class="py-[133px] px-[85.33px] flex justify-between items-center">
    <div class="w-1/2">
        <img src="assets/About.png" alt="">
    </div>
    <div class="w-1/2 ps-10">
        About
        <h2 class="text-2xl font-bold">About me</h2>
        <p class="text-xl mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius faucibus massa
            sollicitudin amet augue. Nibh metus a semper purus mauris duis. Lorem eu neque, tristique quis duis. Nibh
            scelerisque ac adipiscing velit non nulla in amet pellentesque.
        </p>
        <p class="mt-10 text-xl">Sit turpis pretium eget maecenas. Vestibulum dolor mattis consectetur eget commodo
            vitae. Amet pellentesque sit pulvinar lorem mi a, euismod risus r.</p>
    </div>
</div>
<!-- About me -->

<!-- Recent projects -->
<div class="py-[133px] px-[85.33px] flex flex-col">
    <div class="flex justify-between">
        <div>
            <h3 class="text-3xl font-bold">
                Recent projects
            </h3>
        </div>
        <div>
            <button class="flex bg-[#E62872] p-2 rounded-lg">
                <img src="assets/github-mark.svg" class="object-scale-down h-[30px] me-2" alt="">
                <span>Visit my Github</span>
            </button>
        </div>
    </div>
    <div class="flex flex-row justify-between mt-20 px-[200px]">
        <div class="border rounded mx-5 flex flex-col w-1/4 shadow-2xl">
            <div>
                <img src="assets/project.png" alt="">
            </div>
            <div class="p-4">
                <h4 class="text-2xl font-bold">Lorem ipsum</h4>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                <span class="underline">View Repository</span>
            </div>
        </div>
        <div class="border rounded mx-5 flex flex-col w-1/4 shadow-2xl">
            <div>
                <img src="assets/project.png" alt="">
            </div>
            <div class="p-4">
                <h4 class="text-2xl font-bold">Lorem ipsum</h4>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                <span class="underline">View Repository</span>
            </div>
        </div>
        <div class="border rounded mx-5 flex flex-col w-1/4 shadow-2xl">
            <div>
                <img src="assets/project.png" alt="">
            </div>
            <div class="p-4">
                <h4 class="text-2xl font-bold">Lorem ipsum</h4>
                <p class="mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
                <span class="underline">View Repository</span>
            </div>
        </div>
    </div>
</div>
<!-- Recent projects -->